<!DOCTYPE html>
<html>
    <head>
      <title>Course Management System</title> 
      
      <style type = "text/css"> 
        body {margin-left : 50px;} 
        .msg {margin : 10px; color: #0000ff;}
        table, th , td { border: 1px solid grey; border-collapse: collapse; padding: 5px;}
        table tr:nth-child(odd) {background-color: #f1f1f1;}
        table tr:nth-child(even) {background-color: #ffffff;}
      </style> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
<body>

<div ng-app="cmsApp" ng-controller="cmsCtrl">

    <h1>Course Management System</h1>
    <p>By Narm, Rohit, Jowanza, Gautam</p>
    <div id="cmd_menu">
        <button ng-click="admin_page()" id="admin_page">Admins</button>
        <button ng-click="instructor_page()" id="instructor_page">Instructors</button>
        <button ng-click="student_page()" id="student_page">Students</button>
    </div>
    <hr>
    <div>
        <h2>{{content_page.title}}</h2>
        <form>
            id: <input type="text" id="login_id" required><button ng-click="this[content_page.method]()">Login</button>
        </form>
        <div class="msg" id="message_this"></div>
    </div>
    <hr>
    <div id="student_view">
        <div>
            <h3>Select Action</h3>
            <button ng-click="sRegisterCourses()">Register Course</button>
            <button ng-click="sViewCourses()">View Courses</button>
            <button ng-click="sViewGrades()">View Grades</button>
        </div>
        <hr>
    </div>
    <div id="instructor_view">
        <div>
            <h3>Select Action</h3>
            <button ng-click="iTeachCourse()">Teach Course</button>
            <button ng-click="iAssignGrade()">Assign Grade</button>
        </div>
        <hr>
    </div>
    <div id="admin_view">
        <div>
            <h3>Select Action</h3>
            <button ng-click="aLoadData()">Load Data</button> | 
            <button ng-click="aAddCourse()">Add Course</button> | 
            <button ng-click="aAddPrereqs()">Add Pre-requisites</button> | 
            <button ng-click="aAddStudent()">Add Student</button> | 
            <button ng-click="aAddInstructor()">Add Instructor</button> | 
            <button ng-click="aHireInstructor()">Hire Instructor</button> | 
            <button ng-click="aLeaveInstructor()">Leave Instructor</button> | 
            <button ng-click="aStartTerm()">Start Term</button> | 
            <button ng-click="aAdvanceTerm()">Advance Term</button> | 
            <button ng-click="aWekaReport()">Display Weka Report</button>
        </div>
        <hr>
    </div>
    <div id="action_section"></div>
</div>

<script>
var app = angular.module('cmsApp', []);

app.controller('cmsCtrl', function($scope, $compile, $http) {

	/* ===== Helper Routines ===== */
	$scope.clearAll = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        document.getElementById('student_view').style.display = 'none';
        document.getElementById('instructor_view').style.display = 'none';
        document.getElementById('admin_view').style.display = 'none';
    };
    $scope.pageDisable = function(page) {
        document.getElementById("student_page").disabled = false;
        document.getElementById("instructor_page").disabled = false;
        document.getElementById("admin_page").disabled = false;        
        document.getElementById(page).disabled = true;
    };
	$scope.showView = function(view) {
        document.getElementById('student_view').style.display = 'none';
        document.getElementById('instructor_view').style.display = 'none';
        document.getElementById('admin_view').style.display = 'none';        		
        document.getElementById(view).style.display = 'block';
	};

	/* ===== Main Menu Items ===== */
    $scope.student_page = function() {
		$scope.clearAll();
		$scope.pageDisable("student_page");
        $scope.content_page = {"title":"Student Page","method":"getStudentPage"};
    };
    $scope.instructor_page = function() {
		$scope.clearAll();
		$scope.pageDisable("instructor_page");
        $scope.content_page = {"title":"Instructor Page","method":"getInstructorPage"};
    };
    $scope.admin_page = function() {
		$scope.clearAll();
		$scope.pageDisable("admin_page");
        $scope.content_page = {"title":"Admin Page","method":"getAdminPage"};
    };

	/* ===== Instructor Methods ===== */
    $scope.getInstructorPage = function() {
        var path = "/loginInstructor/" + document.getElementById("login_id").value;

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
            	document.getElementById('message_this').innerHTML = "";
				$scope.showView("instructor_view");
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});
    };
	/* Teach Course */
    $scope.iTeachCourse = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Teach Course</h3>
        	<form>Course Id: <input type="text" id="cid" required>
            <button ng-click="sCallTeachCourse(); return;">Teach</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.sCallTeachCourse = function() {
        var req = { method: 'POST', url: '/teachCourse',
            headers: {'Content-Type':'json;'},
            data: {
                iid: document.getElementById("login_id").value,
                cid: document.getElementById("cid").value
            }
        };

        $http(req)
            .then(function(response){
                document.getElementById('message_this').innerHTML = response.data;
            }, function(){
                document.getElementById('message_this').innerHTML = response.statusText;
            });
    };
    /* Assign Grade */
    $scope.iAssignGrade = function() {
        document.getElementById('message_this').innerHTML = "";
        document.getElementById('action_section').innerHTML = "";

        var gr = `<h3>Assign Grade</h3>
            <form><table>
            <tr><td>Course Id: </td><td><input type="text" id="grcid" required></td></tr>
            <tr><td>Student Id: </td><td><input type="text" id="grsid" required></td></tr>
            <tr><td>Term: </td><td><Input type="text" id="grterm" required></td></tr>
            <tr><td>Grade (A - F): </td><td><input type=text" id="grade" required></td></tr>
            <tr><td>Comment: </td><td><input type="text" id="grcomment"></td></tr><table>
            <button ng-click="iSetGrade(); return;">Set Grade</button>
            </form>`;

            var temp = $compile(gr)($scope);
            angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.iSetGrade = function() {
        var req = { method: 'POST', url: '/assignGrade',
            headers: { 'Content-Type': 'application/json;' },
            data: { 
                grcid: document.getElementById("grcid").value,
                grsid: document.getElementById("grsid").value,
                grterm: document.getElementById("grterm").value,
                grade: document.getElementById("grade").value,
                grcomment: document.getElementById("grcomment").value
            }
        };
        console.log(req);
        $http(req)
        .then(function(response) {
            document.getElementById('message_this').innerHTML = response.data;
        }, function(response) {
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };
  
	/* ===== Student Functions ===== */
    /* Handle Student Login */
    $scope.getStudentPage = function() {
        var path = "/loginStudent/" + document.getElementById("login_id").value;

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
            	document.getElementById('message_this').innerHTML = "";
				$scope.showView("student_view");
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});
    };
	/* Register for Course */
    $scope.sRegisterCourses = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Register for Course</h3>
        	<form>Course Id: <input type="text" id="cid" required>
            <button ng-click="sCallRegisterCourse(); return;">Register</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.sCallRegisterCourse = function() {
        var req = { method: 'POST', url: '/registerCourse',
            headers: {'Content-Type':'json;'},
            data: {
                sid: document.getElementById("login_id").value,
                cid: document.getElementById("cid").value
            }
        };

        $http(req)
            .then(function(response){
                document.getElementById('message_this').innerHTML = response.data;
            }, function(){
                document.getElementById('message_this').innerHTML = response.statusText;
            });
    };
    
    /* View Courses */
    $scope.sViewCourses = function() {
        $url = "/getCourses/"+document.getElementById("login_id").value;
        $http({method : "GET", url : $url})
            .then(function mySuccess(response) {
                var records = response.data;
                var tbl  = "<h3>Courses</h3>";
                tbl = tbl + "<table>";
                for (x in records) {
                    console.log(records[x]);
                    tbl = tbl + "<tr><td>" + records[x].id + "</td>" +
                        "<td>" + records[x].desc + "</td></tr>";
                }
                tbl = tbl + "</table>";

                var temp = $compile(tbl)($scope);
                document.getElementById('action_section').innerHTML = "";
                angular.element(document.getElementById('action_section')).append(temp);
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});    
    };

	/* View Grades */
    $scope.sViewGrades = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>View Grades</h3>
        	<form>Course Id: <input type="text" id="cid" required>
            <button ng-click="sCallViewGrades(); return;">View</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.sCallViewGrades = function() {
        var req = { method: 'POST', url: '/viewGrades',
            headers: {'Content-Type':'json;'},
            data: {
                sid: document.getElementById("login_id").value,
                cid: document.getElementById("cid").value
            }
        };

        $http(req)
            .then(function(response){
                var records = response.data;
                var tbl  = "<h3>Grades</h3>";
                tbl = tbl + "<table>";
                for (x in records) {
                    console.log(records[x]);
                    tbl = tbl + "<tr><td>" + records[x].term + "</td>" +
                        "<td>" + records[x].instructor + "</td>" +
                        "<td>" + records[x].grade + "</td>" +
                        "<td>" + records[x].comment + "</td></tr>";
                }
                tbl = tbl + "</table>";

                var temp = $compile(tbl)($scope);
                angular.element(document.getElementById('action_section')).append(temp);
            }, function(){
                document.getElementById('message_this').innerHTML = response.statusText;
            });
    };

	/* ===== Admin Functions ===== */
    /* Admin Login */
    $scope.getAdminPage = function() {
        var path = "/loginAdmin/" + document.getElementById("login_id").value;

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
            	document.getElementById('message_this').innerHTML = response.data;
				$scope.showView("admin_view");
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});    
    };

	/* Load Data from external CSV files */
    $scope.aLoadData = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Load Data From External Files</h3>
        	<form>Path: <input type="text" id="aPath" required>
            <button ng-click="aCallLoadData(); return;">Load Data</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallLoadData = function() {
        var path = "/loadData/" + document.getElementById('aPath').value;

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
				document.getElementById('message_this').innerHTML = response.data;
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});
    };

	/* Add Course */
    $scope.aAddCourse = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Add Course</h3>
        	<form>Description: <input type="text" id="aDesc" required>
            <button ng-click="aCallAddCourse(); return;">Add</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallAddCourse = function() {
        var req = { method: 'POST', url: '/addCourse',
            headers: {'Content-Type':'json;'},
            data: {desc: document.getElementById("aDesc").value}
        };

        $http(req)
            .then(function(response){
                document.getElementById('message_this').innerHTML = response.data;
            }, function(){
                document.getElementById('message_this').innerHTML = response.statusText;
            });
    };
    
	/* Add Instructor */
    $scope.aAddInstructor = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Add Instructor</h3>
        	<form>Name: <input type="text" id="aName" required>
            <button ng-click="aCallAddInstructor(); return;">Add</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallAddInstructor = function() {
        var req = {
            method: 'POST',
            url: '/addInstructor',
            headers: {
                'Content-Type':'application/x-www-form-urlencoded;charset=utf-8;'
            },
            data: { 
                name: document.getElementById("aName").value
            }
        };

        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };
   
	/* Add Student */
    $scope.aAddStudent = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Add Student</h3>
        	<form>Name: <input type="text" id="aName" required>
            <button ng-click="aCallAddStudent(); return;">Add</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallAddStudent = function() {
        var req = { method: 'POST', url: '/addStudent',
            headers: { 'Content-Type':'application/x-www-form-urlencoded;charset=utf-8;' },
            data: { 
                name: document.getElementById("aName").value
            }
        };
        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };
    
	/* Hire Instructor */
    $scope.aHireInstructor = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Hire Instructor</h3>
        	<form>Id: <input type="text" id="aId" required>
            <button ng-click="aCallHireInstructor(); return;">Hire</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallHireInstructor = function() {
        var req = { method: 'POST', url: '/hireInstructor',
            headers: { 'Content-Type':'application/x-www-form-urlencoded;charset=utf-8;' },
            data: { 
                id: document.getElementById("aId").value
            }
        };
        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };

	/* Leave Instructor */
    $scope.aLeaveInstructor = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Leave Instructor</h3>
        	<form>Id: <input type="text" id="aId" required>
            <button ng-click="aCallLeaveInstructor(); return;">Leave</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallLeaveInstructor = function() {
        var req = { method: 'POST', url: '/leaveInstructor',
            headers: { 'Content-Type':'application/x-www-form-urlencoded;charset=utf-8;' },
            data: { 
                id: document.getElementById("aId").value
            }
        };
        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };

	/* Start Term */
    $scope.aStartTerm = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Start Term</h3>
        	<form>Term: <input type="text" id="aTerm" required> Example: Fall-2017
            <button ng-click="aCallStartTerm(); return;">Start</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallStartTerm = function() {
        var req = { method: 'POST', url: '/startTerm',
            headers: { 'Content-Type':'application/x-www-form-urlencoded;charset=utf-8;' },
            data: { 
                term: document.getElementById("aTerm").value
            }
        };
        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };

	/* Advance Term */
    $scope.aAdvanceTerm = function() {
        var path = "/advanceTerm";

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
				document.getElementById('message_this').innerHTML = response.data;
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});
    };

	/* Advance Term */
    $scope.aWekaReport = function() {
        var path = "/reportWeka";

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
				document.getElementById('message_this').innerHTML = response.data;
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});
    };

	/* Add Prereqs */
    $scope.aAddPrereqs = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Add Pre requisites</h3>
        	<form>Course Id: <input type="text" id="acId" required>
            <button ng-click="aCallAddPrereqs(); return;">Get Courses</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallAddPrereqs = function() {
        var path = "/coursesForPrereqs/" + document.getElementById('acId').value;
        $http({method : "GET", url : path,headers: {'Content-Type':'application/json;'}})
            .then(function mySuccess(response) {
                var records = response.data;

                var tbl  = "<h3>Pre requisites</h3>";
                tbl = tbl + "<form><table>";
                var ids = [];
                ids.push(document.getElementById("acId").value);
                for (x in records) {
                    ids.push(records[x].id);
                    tbl = tbl + "<tr>";
                    if (records[x].prereq == 'yes') {
                        tbl = tbl + `<td><input type="checkbox" id="pr` + records[x].id + `" checked></td>`;
                    } else {
                        tbl = tbl + `<td><input type="checkbox" id="pr` + records[x].id + `" ></td>`;
                    }

                    tbl = tbl + "<td>" + records[x].id + "</td>" +
                        "<td>" + records[x].desc + "</td>" + "</tr>";
                }
                tbl = tbl + "</table>";
                tbl = tbl + `<input id="prData" type="hidden" value="'` + ids.toString() + `'">`;
                tbl = tbl + `<button ng-click="aSetPrereqs(); return;">Set Prereqs</button></form>`;

                var temp = $compile(tbl)($scope);
                angular.element(document.getElementById('action_section')).append(temp);
            }, function myError(response) {
                document.getElementById('message_this').innerHTML = response.statusText;
                return;
            });
    };
    $scope.aSetPrereqs = function() {
        var ids = document.getElementById("prData").value.slice(1, -1).split(",");
        var cid = ids[0];
        ids.shift();
        var pids = [];
        for (x in ids) {
            console.log(ids[x]);
            if (document.getElementById("pr" + ids[x]).checked) {
                pids.push(ids[x]);
            }
        }
        var req = { method: 'POST', url: '/setPrerequisites',
            headers: { 'Content-Type': 'application/json;' },
            data: { 
                cid: cid,
                prereqs: pids.toString()
            }
        };
        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };

    /* ===== App init =====*/
    var app_init = function () {
        document.getElementById("admin_page").disabled = true;
        $scope.content_page = {"title":"Admin Page","method":"getAdminPage"};

        document.getElementById('student_view').style.display = 'none';
        document.getElementById('instructor_view').style.display = 'none';
        document.getElementById('admin_view').style.display = 'none';
    };
    app_init();
});
</script>

</body>
</html>
