<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="cmsApp" ng-controller="cmsCtrl">

    <h1>Course Management System</h1>
    <p>By Narm, Rohit, Jowanza, Gautam</p>
    <div id="cmd_menu">
        <button ng-click="admin_page()" id="admin_page">Admins</button>
        <button ng-click="instructor_page()" id="instructor_page">Instructors</button>
        <button ng-click="student_page()" id="student_page">Students</button>
    </div>
    <hr>
    <div>
        <h2>{{content_page.title}}</h2>
        <h3 id="message_this"></h3>
        <form>
            id: <input type="text" id="login_id" required><button ng-click="this[content_page.method]()">Login</button>
        </form>
    </div>
    <hr>
    <div id="student_view">
        <div>
            Select Action:
            <button ng-click="sRegisterCourses()">Register Course</button>
            <button ng-click="sViewCourses()">View Courses</button>
            <button ng-click="sViewGrades()">View Grades</button>
        </div>
        <hr>
    </div>
    <div id="instructor_view">
        <div>
            Select Action:
            <button ng-click="iTeachCourse()">Teach Course</button>
            <button ng-click="iAssignGrade()">Assign Grade</button>
        </div>
        <hr>
    </div>
    <div id="admin_view">
        <div>
            <h4>Select Action</h4>
            <button ng-click="aLoadData()">Load Data</button>
            <button ng-click="aAddCourse()">Add Course</button>
            <button ng-click="aAddPrereqs()">Add Pre-requisites</button>
            <button ng-click="aAddInstructor()">Add Instructor</button>
            <button ng-click="aAddStudent()">Add Student</button>
            <button ng-click="aHireInstructor()">Hire Instructor</button>
            <button ng-click="aLeaveInstructor()">Leave Instructor</button>
            <button ng-click="aStartTerm()">Start Term</button>
            <button ng-click="aAdvanceTerm()">Advance Term</button>
            <button ng-click="aWekaReport()">Display Weka Report</button>
        </div>
        <hr>
    </div>
    <div id="action_section"></div>
</div>

<script>
var app = angular.module('cmsApp', []);

app.controller('cmsCtrl', function($scope, $compile, $http) {

	/* ===== Helper Routines ===== */
	$scope.clearAll = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        document.getElementById('student_view').style.display = 'none';
        document.getElementById('instructor_view').style.display = 'none';
        document.getElementById('admin_view').style.display = 'none';
    };
    $scope.pageDisable = function(page) {
        document.getElementById("student_page").disabled = false;
        document.getElementById("instructor_page").disabled = false;
        document.getElementById("admin_page").disabled = false;        
        document.getElementById(page).disabled = true;
    };
	$scope.showView = function(view) {
        document.getElementById('student_view').style.display = 'none';
        document.getElementById('instructor_view').style.display = 'none';
        document.getElementById('admin_view').style.display = 'none';        		
        document.getElementById(view).style.display = 'block';
	};
	
	/* ===== Main Menu Items ===== */
    $scope.student_page = function() {
		$scope.clearAll();
		$scope.pageDisable("student_page");
        $scope.content_page = {"title":"Student Page","method":"getStudentPage"};
    };
    $scope.instructor_page = function() {
		$scope.clearAll();
		$scope.pageDisable("instructor_page");
        $scope.content_page = {"title":"Instructor Page","method":"getInstructorPage"};
    };
    $scope.admin_page = function() {
		$scope.clearAll();
		$scope.pageDisable("admin_page");
        $scope.content_page = {"title":"Admin Page","method":"getAdminPage"};
    };

	/* ===== Instructor Methods ===== */
    $scope.getInstructorPage = function() {
        var path = "/loginInstructor/" + document.getElementById("login_id").value;

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
            	document.getElementById('message_this').innerHTML = "";
				$scope.showView("instructor_view");
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});
    };
    $scope.iTeachCourse = function() {
        var path = "/coursesForTeaching/" + document.getElementById('login_id').value;
        $http({method : "GET", url : path,headers: {'Content-Type':'application/json;'}})
            .then(function mySuccess(response) {
                var records = response.data;

                var tbl  = "<h3>Eligible Courses</h3>";
                tbl = tbl + "<form><table>";
                var ids = [];
                ids.push(document.getElementById("login_id").value);
                for (x in records) {
                    ids.push(records[x].id);
                    tbl = tbl + "<tr>";
                    if (records[x].teaching == 'yes') {
                        tbl = tbl + `<td><input type="checkbox" id="th` + records[x].id + `" checked></td>`;
                    } else {
                        tbl = tbl + `<td><input type="checkbox" id="th` + records[x].id + `" ></td>`;
                    }

                    tbl = tbl + "<td>" + records[x].id + "</td>" +
                        "<td>" + records[x].desc + "</td>" + "</tr>";
                }
                tbl = tbl + "</table>";
                tbl = tbl + `<input id="thData" type="hidden" value="'` + ids.toString() + `'">`;
                tbl = tbl + `<button ng-click="aSetTeachCourses(); return;">Set Teach Courses</button></form>`;

                var temp = $compile(tbl)($scope);
                document.getElementById('action_section').innerHTML = "";
                angular.element(document.getElementById('action_section')).append(temp);
            }, function myError(response) {
                document.getElementById('message_this').innerHTML = response.statusText;
                return;
            });
    };
    $scope.aSetTeachCourses = function() {
        var ids = document.getElementById("thData").value.slice(1, -1).split(",");
        var iid = ids[0];
        ids.shift();
        var pids = [];
        for (x in ids) {
            console.log(ids[x]);
            if (document.getElementById("th" + ids[x]).checked) {
                pids.push(ids[x]);
            }
        }
        var req = { method: 'POST', url: '/setTeachCourses',
            headers: { 'Content-Type': 'application/json;' },
            data: { 
                cid: iid,
                courses: pids.toString()
            }
        };
        $http(req)
        .then(function(response) {
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };

    $scope.iAssignGrade = function() {
        var gr = `<h3>Assign Grade</h3>
            <form>
            Course Id: <input type="text" id="grcid" required>
            Student Id: <input type="text" id="grsid" required>
            Term: <Input type="text" id="grterm" required>
            Grade (A - F): <input type=text" id="grade" required>
            Comment: <input type="text" id="grcomment">
            <button ng-click="iSetGrade(); return;">Set Grade</button>
            </form>`;

            var temp = $compile(gr)($scope);
            document.getElementById('action_section').innerHTML = "";
            angular.element(document.getElementById('action_section')).append(temp);
            angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.iSetGrade = function() {
        var arg1 = document.getElementById("grcid").value;
        var arg2 = document.getElementById("grsid").value;
        var arg3 = document.getElementById("grterm").value;
        var arg4 = document.getElementById("grade").value;
        var arg5 = document.getElementById("grcomment").value;
        
        var req = { method: 'POST', url: '/assignGrade',
            headers: { 'Content-Type': 'application/json;' },
            data: { 
                grcid: arg1,
                grsid: arg2,
                grterm: arg3,
                grade: arg4,
                grcomment: arg5
            }
        };
        console.log(req);
        $http(req)
        .then(function(response) {
            document.getElementById('message_this').innerHTML = response.data;
        }, function(response) {
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };
  
	/* ===== Student Functions ===== */
    /* Handle Student Login */
    $scope.getStudentPage = function() {
        var path = "/loginStudent/" + document.getElementById("login_id").value;

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
            	document.getElementById('message_this').innerHTML = "";
				$scope.showView("student_view");
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});
    };

	/* ===== Admin Functions ===== */
    /* Admin Login */
    $scope.getAdminPage = function() {
        var path = "/loginAdmin/" + document.getElementById("login_id").value;

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
            	document.getElementById('message_this').innerHTML = response.data;
				$scope.showView("admin_view");
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});    
    };

	/* Load Data from external CSV files */
    $scope.aLoadData = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Load Data From External Files</h3>
        	<form>Path: <input type="text" id="aPath" required>
            <button ng-click="aCallLoadData(); return;">Load Data</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallLoadData = function() {
        var path = "/loadData/" + document.getElementById('aPath').value;

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
				document.getElementById('message_this').innerHTML = response.data;
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});
    };

	/* Add Course */
    $scope.aAddCourse = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Add Course</h3>
        	<form>Description: <input type="text" id="aDesc" required>
            <button ng-click="aCallAddCourse(); return;">Add</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallAddCourse = function() {
        var req = { method: 'POST', url: '/addCourse',
            headers: {'Content-Type':'json;'},
            data: {desc: document.getElementById("aDesc").value}
        };

        $http(req)
            .then(function(response){
                document.getElementById('message_this').innerHTML = response.data;
            }, function(){
                document.getElementById('message_this').innerHTML = response.statusText;
            });
    };
    
	/* Add Instructor */
    $scope.aAddInstructor = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Add Instructor</h3>
        	<form>Name: <input type="text" id="aName" required>
            <button ng-click="aCallAddInstructor(); return;">Add</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallAddInstructor = function() {
        var req = {
            method: 'POST',
            url: '/addInstructor',
            headers: {
                'Content-Type':'application/x-www-form-urlencoded;charset=utf-8;'
            },
            data: { 
                name: document.getElementById("aName").value
            }
        };

        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };
   
	/* Add Student */
    $scope.aAddStudent = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Add Student</h3>
        	<form>Name: <input type="text" id="aName" required>
            <button ng-click="aCallAddStudent(); return;">Add</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallAddStudent = function() {
        var req = { method: 'POST', url: '/addStudent',
            headers: { 'Content-Type':'application/x-www-form-urlencoded;charset=utf-8;' },
            data: { 
                name: document.getElementById("aName").value
            }
        };
        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };
    
	/* Hire Instructor */
    $scope.aHireInstructor = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Hire Instructor</h3>
        	<form>Id: <input type="text" id="aId" required>
            <button ng-click="aCallHireInstructor(); return;">Hire</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallHireInstructor = function() {
        var req = { method: 'POST', url: '/hireInstructor',
            headers: { 'Content-Type':'application/x-www-form-urlencoded;charset=utf-8;' },
            data: { 
                id: document.getElementById("aId").value
            }
        };
        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };

	/* Leave Instructor */
    $scope.aLeaveInstructor = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Leave Instructor</h3>
        	<form>Id: <input type="text" id="aId" required>
            <button ng-click="aCallLeaveInstructor(); return;">Leave</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallLeaveInstructor = function() {
        var req = { method: 'POST', url: '/leaveInstructor',
            headers: { 'Content-Type':'application/x-www-form-urlencoded;charset=utf-8;' },
            data: { 
                id: document.getElementById("aId").value
            }
        };
        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };

	/* Start Term */
    $scope.aStartTerm = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Start Term</h3>
        	<form>Term: <input type="text" id="aTerm" required> Example: Fall-2017
            <button ng-click="aCallStartTerm(); return;">Start</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallStartTerm = function() {
        var req = { method: 'POST', url: '/startTerm',
            headers: { 'Content-Type':'application/x-www-form-urlencoded;charset=utf-8;' },
            data: { 
                term: document.getElementById("aTerm").value
            }
        };
        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };

	/* Advance Term */
    $scope.aAdvanceTerm = function() {
        var path = "/advanceTerm";

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
				document.getElementById('message_this').innerHTML = response.data;
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});
    };

	/* Advance Term */
    $scope.aWekaReport = function() {
        var path = "/reportWeka";

        $http({method : "GET", url : path})
            .then(function mySuccess(response) {
				document.getElementById('message_this').innerHTML = response.data;
            }, function myError(response) {
            	document.getElementById('message_this').innerHTML = response.statusText;
        	});
    };

	/* Add Prereqs */
    $scope.aAddPrereqs = function() {
        document.getElementById('action_section').innerHTML = "";
        document.getElementById('message_this').innerHTML = "";
        var x  = `<h3>Add Pre requisites</h3>
        	<form>Course Id: <input type="text" id="acId" required>
            <button ng-click="aCallAddPrereqs(); return;">Get Courses</button></form>`;
        var temp = $compile(x)($scope);
        angular.element(document.getElementById('action_section')).append(temp);
    };
    $scope.aCallAddPrereqs = function() {
        var path = "/coursesForPrereqs/" + document.getElementById('acId').value;
        $http({method : "GET", url : path,headers: {'Content-Type':'application/json;'}})
            .then(function mySuccess(response) {
                var records = response.data;

                var tbl  = "<h3>Pre requisites</h3>";
                tbl = tbl + "<form><table>";
                var ids = [];
                ids.push(document.getElementById("acId").value);
                for (x in records) {
                    ids.push(records[x].id);
                    tbl = tbl + "<tr>";
                    if (records[x].prereq == 'yes') {
                        tbl = tbl + `<td><input type="checkbox" id="pr` + records[x].id + `" checked></td>`;
                    } else {
                        tbl = tbl + `<td><input type="checkbox" id="pr` + records[x].id + `" ></td>`;
                    }

                    tbl = tbl + "<td>" + records[x].id + "</td>" +
                        "<td>" + records[x].desc + "</td>" + "</tr>";
                }
                tbl = tbl + "</table>";
                tbl = tbl + `<input id="prData" type="hidden" value="'` + ids.toString() + `'">`;
                tbl = tbl + `<button ng-click="aSetPrereqs(); return;">Set Prereqs</button></form>`;

                var temp = $compile(tbl)($scope);
                angular.element(document.getElementById('action_section')).append(temp);
            }, function myError(response) {
                document.getElementById('message_this').innerHTML = response.statusText;
                return;
            });
    };
    $scope.aSetPrereqs = function() {
        var ids = document.getElementById("prData").value.slice(1, -1).split(",");
        var cid = ids[0];
        ids.shift();
        var pids = [];
        for (x in ids) {
            console.log(ids[x]);
            if (document.getElementById("pr" + ids[x]).checked) {
                pids.push(ids[x]);
            }
        }
        var req = { method: 'POST', url: '/setPrerequisites',
            headers: { 'Content-Type': 'application/json;' },
            data: { 
                cid: cid,
                prereqs: pids.toString()
            }
        };
        $http(req)
        .then(function(response){
            document.getElementById('message_this').innerHTML = response.data;
        }, function(){
            document.getElementById('message_this').innerHTML = response.statusText;
        });
    };

    /* ===== App init =====*/
    var app_init = function () {
        document.getElementById("admin_page").disabled = true;
        $scope.content_page = {"title":"Admin Page","method":"getAdminPage"};

        document.getElementById('student_view').style.display = 'none';
        document.getElementById('instructor_view').style.display = 'none';
        document.getElementById('admin_view').style.display = 'none';
    };
    app_init();
});
</script>

</body>
</html>
